/* NAVIGATION TRANSITION */

@-webkit-keyframes scaleDown {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}
@-moz-keyframes scaleDown {
    to {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}
@keyframes scaleDown {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}
@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}
@-moz-keyframes scaleUp {
    from {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}
@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(.8);
    }
}
.platform-android ion-nav-view [nav-view-direction="forward"] {
    left: 0;
    z-index: 2;
    -webkit-animation: scaleUp .2s ease both;
    -moz-animation: scaleUp .2s ease both;
    animation: scaleUp .2s ease both;
    -webkit-transform: translate3d(0, 0, 0);
}

/*
.platform-android ion-nav-view [nav-view="active"] {
    -webkit-animation: scaleUp .2s ease both;
    -moz-animation: scaleUp .2s ease both;
    animation: scaleUp .2s ease both;
}
.platform-android ion-nav-view [nav-view="cached"] {
    left: 0;
    z-index: 2;
    -webkit-animation: scaleDown .2s ease both;
    -moz-animation: scaleDown .2s ease both;
    animation: scaleDown .2s ease both;
}
*/


/*
ion-nav-view [nav-view-direction="back"] {
    left: 0;
    z-index: 1;
}
*/


/*
ion-nav-view [nav-view-direction="forward"] {
    left: 0;
    z-index: 1;
}
*/


/*
.platform-android ion-nav-view [nav-view-direction="back"] {
    left: 0;
    z-index: 2;
    -webkit-animation: scaleDown .2s ease both;
    -moz-animation: scaleDown .2s ease both;
    animation: scaleDown .2s ease both;
}
*/
